@page
@model _2_AspPract.Pages.BookFormModel
@{
}




<form method="post">
    <div class="form-group">
        <label asp-for="Book.Title">Title:</label>
        <input asp-for="Book.Title" class="form-control" required />
        <span asp-validation-for="Book.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Book.Author">Author:</label>
        <input asp-for="Book.Author" class="form-control" required />
        <span asp-validation-for="Book.Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Book.Style">Style:</label>
        <input asp-for="Book.Style" class="form-control" />
        <span asp-validation-for="Book.Style" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Book.PublicationDate">Publication Date:</label>
        <input asp-for="Book.PublicationDate" class="form-control" type="date" />
        <span asp-validation-for="Book.PublicationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Book.OtherInfo">Other Info:</label>
        <textarea asp-for="Book.OtherInfo" class="form-control"></textarea>
        <span asp-validation-for="Book.OtherInfo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<hr />
<br />

<div>
    <ol>
        @foreach (var book in Model.Books)
        {
            <li>

                <p>Title: @book.Title</p>
                <p>Author: @book.Author</p>
                <p>Style: @book.Style</p>
                <p>Publication Date: @book.PublicationDate</p>
                <p>Other Info: @book.OtherInfo</p>

            </li>

        }
    </ol>

</div>

<style>
    .form-group {
        width: 600px;
        margin-bottom: 20px;
    }

    form {
        max-width: 600px;
        margin: 0 auto 0 0;
    }
</style>